.container {
  --skew-angle: -2deg;
  --background: rgba(255, 255, 255, 0.2);
  padding: 1rem 1rem;
  position: relative;
  isolation: isolate;
}

.wrapper {
  --skew-angle: -3deg;
  --background: rgba(255, 255, 255, 0.2);
}

.container::after {
  content: "";
  background: var(--background);

  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
  -webkit-transform: skewY(var(--skew-angle));
  -moz-transform: skewY(var(--skew-angle));
  -ms-transform: skewY(var(--skew-angle));
  -o-transform: skewY(var(--skew-angle));
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.devName {
  font-family: var(--ff-logo);
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.socialLinkscontainer {
  padding: 2rem;
}

.socialLinkscontainer a {
  margin: 0.5rem 0.5rem;
}

@media screen and (max-width: 525px) {
  .socialLinkscontainer {
    padding: 1rem;
  }

  .socialLinkscontainer a {
    margin: 0.5rem 0.35rem;
  }
}

@media screen and (max-width: 450px) {
  .socialLinkscontainer {
    padding: 0.5rem;
  }

  .socialLinkscontainer a {
    margin: 0.5rem 0.25rem;
  }
}

@media screen and (max-width: 350px) {
  .socialLinkscontainer {
    padding: 0;
  }

  .socialLinkscontainer a {
    margin: 0.5rem 0.1rem;
  }
}
