/* Font Families */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Monoton&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,500&display=swap");

:root {
  /* Colours */
  --clr-text: #3d3d3d;
  --clr-primary: #067e0a;
  --clr-primary-dark: #125814;
  --clr-accent: #613b6b;
  --clr-accent-dark: #44264d;
  --clr-accent: #680b0bc0;
  --clr-accent-dark: #4e0a0a;

  /* Fonts */
  --ff-logo: "Bodoni Moda", serif;
  --ff-logo-alt: "Fredericka the Great", cursive;
  --ff-logo-alt-2: "Raleway Dots", cursive;
  --ff-sans-serif: "Roboto", sans-serif;
  --ff-serif: "Roboto Slab", serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-accent-dark);
  font-size: 1.25rem;
  overflow-y: hidden;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 0.7rem;
  }
}

body {
  margin: 0;
  text-align: center;
  background: linear-gradient(216deg, #f5941845, transparent);
  background: linear-gradient(216deg, #f3be7a6e, #aef1c6fc);
  /* background: radial-gradient(#f5941845, transparent); */
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* Primary Colour: #00A */
